@keyframes floaty {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.signin-view-wrapper {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    background-image: 
        /*linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4)),*/
        linear-gradient(120deg, rgba(151, 110, 248, 0.05), rgba(151, 110, 248, 0.2), rgba(151, 110, 248, 0.05)), 
        repeating-radial-gradient(circle at 1em 1em, rgba(151, 110, 248, 0.03), rgba(151, 110, 248, 0.03) 5px, transparent 5px, transparent 10px);
    background-size: 300% 300%;
    animation: gradientBG 6s ease infinite;
    color: #f4f5f7;
}

.signin-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}


.signin-view::before {
    top: 10%;
    left: 10%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.signin-view::after {
    bottom: 10%;
    right: 10%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.app-name {
    font-size: 4rem; 
    font-weight: bold; 
    color: #976EF8;
    text-shadow: 0 0 10px rgba(151, 110, 248, 0.7), 0 0 15px rgba(151, 110, 248, 0.5); /* glow */
    margin-bottom: 2rem;
}

.signin-view form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.signin-view input {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: transparent;
    /*border: 2px solid transparent;*/
    border-radius: 8px;
    color: #f4f5f7;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.signin-view input:focus {
    border-color: #976EF8;
    box-shadow: 0 0 10px rgba(151, 110, 248, 0.8);
    transform: scale(1.02);  /* Zoom in effect on focus */
    outline: none;
}

.signin-view button {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    background-color: #976EF8;
    color: #121212;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    z-index: 1; /* Stack the button above the pseudo-elements */
}

.signin-view button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(151, 110, 248, 0.2);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.signin-view button:hover:before {
    transform: translateY(0);
}

.signin-view button:focus, .signin-view button:hover {
    background-color: #8151DB;
    outline: none;
    box-shadow: 0 8px 25px rgba(151, 110, 248, 0.4);
}

.signin-view button:active {
    transform: translateY(4px);  /* Button moves downwards on click for a 'press' effect */
}

.signin-view button:after { /* Button 3D Effect */
    content: "";
    position: absolute;
    z-index: -1; /* Put it below the actual button */
    bottom: -5px; 
    left: -5px;
    right: -5px;
    height: 5px;
    background-color: #6E3AC9;
    border-radius: 0 0 8px 8px;
}

.spotify-login-text {
    display: flex;
    align-items: center;
    gap: 0.2rem; /* Space between the logo and the text */
    font-size: 1.5rem; /* Adjust as per your need */
    margin-bottom: 2rem; /* Space between this and the form, adjust as required */
}

.spotify-logo {
    width: 32px; /* Adjust based on your logo's appearance */
    height: 32px; /* Adjust based on your logo's appearance */
}