.about-content {
  color: white;
}

.about-content h2 {
  font-size: 40px; /* Adjust to desired size */
  font-weight: 400;
  color: rgba(255, 255, 255, 1); /* White with 80% opacity */
  margin-bottom: 15px;
  padding-top: 0%;
}

.about-content p {
  color: white;
}

header {
  background-color: #242424;
  height: 30px;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  overflow: hidden;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--base {
  transform: translateZ(0);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.parallax__layer--base h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.parallax__layer--base p {
  font-size: 1.2em;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}
