/* Add this CSS in your devs page or a global stylesheet */
.devs-content {
  color: white;
}

.devs-content h2 {
  font-size: 40px; /* Adjust to desired size */
  font-weight: 400;
  color: rgba(255, 255, 255, 1); /* White with 80% opacity */
  margin-bottom: 15px;
  padding-top: 0%;
}

.devs-content p {
  font-size: 20px; /* Adjust to desired size */
  padding: 0 10%;
}