header {
  background-color: #242424; /* Add a background color for visibility across the full width */
}
body {
  cursor: default;
}
/* Change the cursor to pointer (hand) when hovering over buttons */
button:hover {
  cursor: pointer;
}
li:hover {
  cursor: pointer;
}
.home-view-wrapper {
  background: linear-gradient(to bottom, #343434, #000000);
  height: 100%;
}
.search-text {
  font-size: 32px; /* Adjust to desired size */
  color: rgba(255, 255, 255, 1); /* White with 80% opacity */
  margin-bottom: 15px;
  padding-top: 5%;
}
.home-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  position: relative;
}

.spacer
{
  width: 100%;
  height: 95px;
}

#info1 {
}

/* styles.css */
.logout-button {
  background: #8151DB;
  color: white;
  margin-left: 20px;
  padding: 7px 15px; /* Adjust the padding to make the space smaller */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out;
}

.logout-button:hover {
  background: #6A3DBD;
  /* You can add additional hover effects here */
}

.sidenav {
    width: 150px;
    background: #242424;
    position: absolute;
    height: 95vh;
    padding: 0 10px;
    left: -100%;
    transition: all 1s;
}

.sidenav.active {
    left: 0;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

ul li a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}

ul li a:hover,
ul li a.active {
    background: #727272;
}