header {
    background-color: #242424; /* Add a background color for visibility across the full width */
}
.home-view-wrapper {
    background-color: #343434;
}
.search-text {
    font-size: 32px; /* Adjust to desired size */
    color: rgba(255, 255, 255, 1); /* White with 80% opacity */
    margin-bottom: 15px;
}
.home-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    padding-top: 60px; /* Add a top padding equal to your header's height to prevent content hiding behind it */
}

.sidenav {
    width: 150px;
    background: #242424;
    position: absolute;
    height: 95vh;
    padding: 0 30px;
    left: -100%;
    transition: all 1s;
}

.sidenav.active {
    left: 0;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

ul li a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}

ul li a:hover,
ul li a.active {
    background: #727272;
}